<h2>$root</h2>
<table>
  <tbody>
    <tr>
      <th style="text-align: center;">Library</th>
      <th style="text-align: center;">Parent Library</th>
      <th style="text-align: center;">Version</th>
      <th colspan="1" style="text-align: center;">Scope</th>
    </tr>
    #foreach ($dep in $dependencies.entrySet())
      #foreach ($child in $dep.getValue())
	<tr>
      <td colspan="1">$child.getGroupIdArtifactId()</td>
      <td colspan="1">$dep.getKey().getGroupIdArtifactId():$dep.getKey().getVersion()</td>
      <td colspan="1">$child.getVersion()</td>
      <td colspan="1">$child.getScope()</td>
    </tr>
      #end
    #end
  </tbody>
</table>